* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    position: relative;
    width: 100%;
    height: 75px;
    background-color: #222;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: 0 2vw; 
    z-index: 1;
}

#indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(45deg,#2D9596, #9AD0C2);
    border-radius: 8px;
    z-index: 0;
}

.nav-link:hover {
    color: #DBE7C9;
}
